#Thu Jul 22 12:08:54 IST 2021
mail.smtp.toEmail=ENC1(vqwaYv9I+tnHxqcKwYZhKxEHgfvGHk0nfCMyPGu+eCYexqvyenUNkX3iodwEXWU9GQKIucUTbGLtVc6Gof2c/g\=\=)
mail.smtp.ssl.enable=false
mail.smtp.other.port=
Encryptor.check=Provar
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=ENC1(87lARwZekZF67batzjLnDo2xFLAqe97/faQJKlQfSb9ZDwofuzrDUjAMYU6McqcyQAB5bI+9Mqx2cKhbZSuwRA\=\=)
mail.smtp.password=ENC1(wFZoVNa9iwWZmbnbi//SNL0Wj23xGTtgN6Lw7CPF1Lbi9pIdjdBISHLo7pcDEOiT)
mail.smtp.other.host=
